
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
dt,
dd,
dd div.report {
  border-radius: 0.3em;
}
dt .actions button:before,
dd div.report:before {
  display: inline-block;
  font-size: 1.25em;
  line-height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
dt .actions button.status-unknown:before,
dd div.report.status-unknown:before {
  color: #333;
  content: "►";
}
dt .actions button.status-ok:before,
dd div.report.status-ok:before {
  color: #080;
  content: "\2714";
}
dt .actions button.status-queued:before,
dd div.report.status-queued:before {
  color: #950;
  content: "\26A1";
}
dt .actions button.status-running:before,
dd div.report.status-running:before {
  color: #008;
  content: "↻";
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
dt .actions button.status-failed:before,
dd div.report.status-failed:before {
  color: #800;
  content: "\2620";
}
body {
  font-size: 0.675em;
  font-family: Sans Serif;
  color: #333;
  background: #bbb;
  margin: 0;
}
button {
  border: 1px solid #333;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px #333;
  color: #333;
  background: #ddd;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button:focus {
  outline: none;
  box-shadow: 0px 0px 3px #ff7f2b;
}
button:active {
  background: #eee;
  box-shadow: none;
}
header {
  background: #000111;
  color: #fff;
  position: relative;
}
header h1 {
  margin: 0;
  padding: 1em;
}
header .actions {
  text-align: right;
  padding: 1em;
}
#filters {
  display: inline-block;
  margin-right: 1em;
}
#wwUpdate {
  position: absolute;
  top: 1.75em;
  right: 1em;
  display: none;
}
#wwReportContainer {
  position: relative;
  color: #fff;
  background: #333;
  width: 90%;
  padding: 0.8em;
  margin: auto;
  font-size: 1.25em;
}
#statusMeter {
  display: flex;
  padding: 0;
  margin: 0;
  transition: line-height 250ms ease-in, text-indent 350ms ease-out;
  line-height: 0.675em;
  text-indent: -150%;
  text-align: center;
  white-space: nowrap;
  font-size: 0.8em;
}
#statusMeter:hover {
  line-height: 2em;
  text-indent: 0px;
}
#statusMeter li {
  display: inline-block;
  overflow: hidden;
}
#statusMeter li.status-ok {
  background-color: #cfc;
}
#statusMeter li.status-unknown {
  background-color: #fff;
}
#statusMeter li.status-running {
  background-color: #ccf;
}
#statusMeter li.status-queued {
  background-color: #ffc;
}
#statusMeter li.status-failed {
  background-color: #fcc;
}
#wwTestsContainer {
  position: relative;
}
dl {
  margin: auto;
  width: 90%;
  padding: 1em;
  background: #333;
}
dt {
  background: #fff;
  position: relative;
/*line-height:3em;*/
  padding: 1em;
  margin: 0.5em 0 0 0;
}
dt .name {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
dt .actions {
  position: absolute;
  right: 1em;
  top: 0.75em;
}
dt.hidden,
dt.hidden + dd,
dt.collapsed + dd {
  display: none;
}
dd {
  background: #fff;
  width: 95%;
  margin: 0 auto 1em auto;
  padding: 1em;
  overflow: auto;
  max-height: 350px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
dd div.report {
  padding: 1em;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
dd div.report .name {
  font-weight: bold;
}
dd div.report.open code {
  display: block;
  cursor: text;
  width: 100%;
  overflow: auto;
  border: solid 1px;
}
dd div.report.open textarea {
  background: inherit;
  color: inherit;
  font-family: monospace;
  border: none;
  width: 99%;
  height: 200px;
}
dd div.report code {
  display: none;
}
.expander {
  cursor: pointer;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 0;
  text-align: right;
}
.status-unknown {
  background-color: #fff;
  border-color: #333 !important;
  color: #333;
}
.status-queued {
  background-color: #ffb;
  border-color: #fb4 !important;
  color: #950;
}
.status-failed {
  background-color: #fffafa;
  border-color: #b44 !important;
  color: #922;
}
.status-ok {
  background-color: #fafffa;
  border-color: #4b4 !important;
  color: #292;
}
.status-running {
  background-color: #fafaff;
  border-color: #33f !important;
  color: #229;
}
