@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
body{font-size:.675em;font-family:Sans Serif;color:#333}
ul{list-style-type:none;padding:0;display:flex;flex-direction:column;width:80%;margin:auto}
li > div{font-size:1.1rem;flex:1;display:flex;flex-direction:row;border:solid #333 1px;margin-bottom:.1em;border-radius:.3em;padding:.2em .4em}
li > div[class*=status]:before{display:inline-block;vertical-align:middle;font-size:1.8rem;width:1em;height:1em;line-height:1em}
li.status-unknown > div,li.status-unknown > pre{background:#fafafa}
li.status-ok > div,li.status-ok> pre{background:#dfd}
li.status-ok > div:before{color:#080;content:"\2714"}
li.status-running > div,li.status-running > pre{background:#ddf}
li.status-running > div:before{color:#008;content:"↻";-webkit-animation:spin 2s linear infinite;-moz-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
li.status-failed > div,li.status-failed > pre{background:#fdd}
li.status-failed > div:before{color:#800;content:"✗"}
pre{border:solid #333 1px;border-top:none;background:#eee;width:98%;margin:-.15em auto 1em auto;position:relative;top:-1px;border-bottom-right-radius:.6em;border-bottom-left-radius:.6em}
pre{padding:.4em .8em}
li > div > span{padding:.2em .8em;line-height:1.5rem;display:inline-block;vertical-align:middle;}
li > div > span.name{flex:1}
li > div > span.datetime,li > div > span.duration{font-size:.8rem}
button{border:1px solid #333;border-radius:.2em;box-shadow:1px 1px 1px #333;color:#333;background:#ddd}
button:hover{background:#eee}
button:focus{background:#eee;outline:none;box-shadow:1px 1px 1px #a83}
button:active{background:#eee;box-shadow:none}
