$darkgrey = #333;
$grey = #777;
$lightgrey = #bbb;
$darkblue = #000111;
$lightblue = #428bca;
$orange = #ff7f2b;
$maroon = #502d17;
$white = #fff;

$fg=$darkgrey;

@css{
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

$border-radius{ border-radius:.3em;}
$statusSymbol{
	&:before{
		display:inline-block;
		font-size:1.25em;
		line-height:1em;
		vertical-align:middle;
		margin-right:.25em;
	}
	&.status-unknown:before{
		color: $darkgrey;
		content:"►";
	}
	&.status-ok:before{
		color: #080;
		content:"\2714";
	}
	&.status-queued:before{
		color:#950;
		content:"\26A1";
	}
	&.status-running:before{
		color:#008;
		content:"↻";

		-webkit-animation:spin 2s linear infinite;
		-moz-animation:spin 2s linear infinite;
		animation:spin 2s linear infinite;
	}
	&.status-failed:before{
		color:#800;
		content:"\2620";
	}
}

body{
	font-size:.675em;
	font-family:Sans Serif;
	color:$fg;
	background:$lightgrey;
	margin:0;
}

header{
	background:$darkblue;
	color: $white;
	position: relative;
	h1{
		margin:0;
		padding:1em;
	}
}

#wwUpdate{
	position: absolute;
	top:1.75em;
	right:1em;
}

dl{
	margin:auto;
	width:90%;
	padding:1em;
	background:$darkgrey;
}
dt{
	background:$white;
	@extend $border-radius;
	position:relative;
	/*line-height:3em;*/
	padding:1em;
	.name{
		font-weight:bold;
		font-size:1.1em;
	}
	.actions{
		position:absolute;
		right:1em;
		top:.75em;
		button{
			@extend $statusSymbol;
		}
	}
}
dd{
	background:$white;
	width:95%;
	margin:0 auto 1em auto;
	padding:1em;
	overflow:auto;
	max-height:350px;
	@extend $border-radius;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	div.report {
		padding:1em;
		margin:0 0 .5em 0;
		border-style:solid;
		border-width:1px;
		@extend $border-radius;
		@extend $statusSymbol;
		.name{
			font-weight:bold;
		}
		&.open{
			pre{
				display:block;
			}
		}
		pre{
			display:none;
		}
	}
}

button{
	border: 1px solid #333;
	border-radius:.2em;
	box-shadow: 1px 1px 1px #333;
	color:#333;
	background:#ddd;
}
button:hover{
	opacity:.7;
}
button:focus{
	outline:none;
	box-shadow: 0px 0px 3px $orange;
}
button:active{
	background:#eee;
	box-shadow:none;
}


.status-unknown{
	background-color:$white;
	border-color:$darkgrey !important;
	color:$darkgrey;
}
.status-queued{
	background-color:#ffb;
	border-color:#fb4 !important;
	color:#950;
}
.status-failed{
	background-color:#fffafa;
	border-color:#b44 !important;
	color:#922;
}
.status-ok{
	background-color:#fafffa;
	border-color:#4b4 !important;
	color:#292;
}
.status-running{
	background-color:#fafaff;
	border-color:#33f !important;
	color:#229;
}
